
html {
height: 100%
}

body {
padding:0 !important;
margin:0 !important;
box-sizing: border-box;
height: 100% !important;
background-color: #FFFFF0 !important;
font-family: 'Playfair Display', serif !important;
}

.lightBg {
background-color: #F7E7CE !important;
}




.nav-link:hover, .navbar-brand:hover {
opacity: 1 !important;
text-decoration: underline !important;
transition: 0.3s !important;
transform: scale(1.10) !important;
}

#logo {
position:relative;
top:-2px
}

.exit {
color: black;}

.exit:hover {
transition: 0.2s !important;
transform: scale(1.15) !important;
cursor: pointer;
}

.modal-content {
background-color: #FFFFF0 !important;
}

h1 {
 font-style: italic;
}

#carouselPic {
height: 20rem;
opacity: 0.7;
object-fit: cover;
object-position: 60% 10%;
}

#div2 {
  background-image: url('../images/transfers2 (2).jpg') !important;
  background-size: 100% 100%;
  opacity: 0.8;
 }

.socialsLinks {
text-decoration: none !important;
color: black !important;
}

.socialsLinks:hover {
transition: 0.3s !important;
transform: scale(1.10) !important;
}

 @media only screen and (min-width:320px) and (max-width:767px)  {

  #copyright{
  padding-bottom: 1rem !important;
  }

  #carouselPic {
  height: 10rem;
  object-position: 40% 5%;
  margin-top: 1rem;
  }
  }


@media only screen and (min-width:768px) {
  #welcomeText {
     margin-left: 2rem !important;
    }
}

