html {
height: 100%
}

body {
padding:0 !important;
margin:0 !important;
box-sizing: border-box;
height: 100% !important;
background-image: url('../images/clientRegistrationBackground.avif');
background-size: 100% 100%;
font-family: 'Playfair Display', serif !important;
}

form {
background-color: #fdf0d5  !important;
}


#registerBtn {
background-color: #89c2d9 !important;
}

#registerBtn:hover {
background-color: #cae9ff !important;
transition: 0.3s !important;
transform: scale(1.1) !important;
}

#logo {
position:relative;
top:-5px
}



#loginLink {
color: black !important;
}

#loginLink:hover {
color: white !important;
transition: 0.3s !important;
transform: scale(1.1) !important;
}


.alert {
--bs-alert-padding-x: 0 !important;
--bs-alert-margin-bottom: 0 !important;
--bs-alert-padding-y: 0 !important;
color: black !important;
}

@media only screen and (max-width: 767px) {
#div2{
display: none;
}

#loginDiv {
margin-bottom: 0.5rem;}
}

@media only screen and (min-width:320px) and (max-width:767px) {
body {
background-image: none;
}



.mainDiv {
background: hsla(16, 100%, 76%, 1);

background: linear-gradient(90deg, hsla(16, 100%, 76%, 1) 0%, hsla(49, 100%, 81%, 1) 100%);

background: -moz-linear-gradient(90deg, hsla(16, 100%, 76%, 1) 0%, hsla(49, 100%, 81%, 1) 100%);

background: -webkit-linear-gradient(90deg, hsla(16, 100%, 76%, 1) 0%, hsla(49, 100%, 81%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FFA585", endColorstr="#FFEDA0", GradientType=1 );
}

}