html {
height: 100%
}

body {
padding:0 !important;
margin:0 !important;
box-sizing: border-box;
height: 100% !important;
background-color: #F7E7CE !important;
font-family: 'Playfair Display', serif !important;
}

form {
background-color: #FFFFF0  !important;
}

#div2 {
background-image: url('../images/indexBackground.jpg');
  background-size: 100% 100%;
}

#loginBtn {
background-color: #F7E7CE !important;
}

#logo {
position:relative;
top:-5px
}

#clientRegistrationLink {
color: black;
}

.alert {
--bs-alert-padding-x: 0 !important;
--bs-alert-margin-bottom: 0 !important;
--bs-alert-padding-y: 0 !important;
color: black;
}

@media only screen and (max-width: 767px) {
#div2{
display: none;
}
}